[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
pytest = "*"
pytest-django = "*"
pre-commit = "*"
factory-boy = "*"

[packages]
django = "*"
python-decouple = "*"
django-extensions = "*"
twilio = "*"
celery = "*"
python-dotenv = "*"
gunicorn = "*"
django-htmlmin = "*"
django-debug-toolbar = "*"
requests = "*"
django-celery-beat = "*"
psycopg2 = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
