[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
black = "*"

[packages]
django = "*"
python-decouple = "*"
psycopg2-binary = "*"
django-extensions = "*"
django-dirtyfields = "*"
factory-boy = "*"
pytest-django = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
