[Unit]
Description=fbsurvivor beat

[Service]
User=dan
ExecStart=/usr/bin/zsh /opt/fbsurvivor2/venv/bin/python -m celery -A fbsurvivor beat -l INFO --scheduler django_celery_beat.schedulers:DatabaseScheduler

[Install]
WantedBy=multi-user.target