[Unit]
Description=fbsurvivor beat

[Service]
User=dan
ExecStart=/usr/bin/zsh /opt/fbsurvivor2/bin/prod/run-celery-beat

[Install]
WantedBy=multi-user.target