[Unit]
Description=fbsurvivor wsgi

[Service]
User=dan
ExecStart=/usr/bin/zsh /opt/fbsurvivor2/venv/bin/python -m gunicorn fbsurvivor.wsgi

[Install]
WantedBy=multi-user.target