[Unit]
Description=fbsurvivor wsgi

[Service]
User=dan
ExecStart=/usr/bin/zsh /opt/fbsurvivor2/services/scripts/run-wsgi-server

[Install]
WantedBy=multi-user.target