<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <title>FB Survivor</title>
        {% if player and player.is_dark_mode %}
            <link rel="stylesheet" href="{% static "css/dark_a.css" %}" type="text/css">
        {% else %}
            <link rel="stylesheet" href="{% static "css/main_a.css" %}" type="text/css">
        {% endif %}

        <meta name="viewport" content="initial-scale=1.0">
        <meta name="robots" content="noindex,nofollow" />

        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
    </head>
    <body>
        {% if player %}
            <ul>
                <li class="logo">Survivor {% if season %}{{ season.year }}{% endif %}</li>
                <li><a href="{% url 'player_redirect' player.link %}">board</a>
                <li><a href="{% url 'picks_redirect' player.link %}">picks</a></li>
                <li><a href="{% url 'more' player.link %}">more</a></li>
                {% if player.is_admin %}
                    <li><a href="{% url 'manager_redirect' player.link %}">a</a></li>
                {% endif %}
            </ul>
            <br>
            <br>
        {% endif %}
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
            <br><br>
        {% endif %}
        <div id="content">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>

