<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <title>FB Survivor</title>
        {% if player and player.is_dark_mode %}
            <link rel="stylesheet" href="{% static "css/dark_a.css" %}" type="text/css">
        {% else %}
            <link rel="stylesheet" href="{% static "css/main_a.css" %}" type="text/css">
        {% endif %}

        <meta name="viewport" content="initial-scale=1.0">
        <meta name="robots" content="noindex,nofollow" />

        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
    </head>
    <body>
        {% if player %}
            <ul>
                <li class="logo">Survivor</li>
                <li>
                    {% if player.is_dark_mode %}
                        <a href="{% url 'dark_mode' %}">
                            <svg id="sun" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <circle cx="12" cy="12" r="5"></circle>
                                <line x1="12" y1="1" x2="12" y2="3"></line>
                                <line x1="12" y1="21" x2="12" y2="23"></line>
                                <line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line>
                                <line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line>
                                <line x1="1" y1="12" x2="3" y2="12"></line>
                                <line x1="21" y1="12" x2="23" y2="12"></line>
                                <line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line>
                                <line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line>
                            </svg>
                        </a>
                    {% else %}
                        <a href="{% url 'dark_mode' %}">
                            <svg id="moon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path>
                            </svg>
                        </a>
                    {% endif %}
                </li>
                <li><a href="{% url 'board' season.year %}">board</a>
                <li><a href="{% url 'picks' season.year %}">picks</a></li>
{#                {% if player.is_admin %}#}
{#                    <li class="nav"><a href="#">manage</a></li>#}
{#                {% endif %}#}
            </ul>
            <br>
            <br>
        {% endif %}
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
            <br><br>
        {% endif %}
        <div id="content">
            {% block content %}{% endblock %}
        </div>
        {% if player %}
            <div class="footer">
                <ul>
                    <li><a href="{% url 'rules' %}">rules</a></li>
                    <li><a href="{% url 'payouts' %}">payouts</a></li>
                    <li><a href="{% url 'seasons' %}">seasons</a></li>
                </ul>
            </div>
            <br><br>
        {% endif %}
    </body>
</html>

