{% extends "./base.html" %}
    {% block content %}
        {% if can_play %}
            <strong>{{ player_count }}</strong> players have joined! Will you?<br><br><br>
                <a class="blue-button" href="{% url 'play' season.year %}">Play</a>
            <br><br><br><br>
        {% else %}
            {% if playable and playable not in years %}
                <a href="{% url 'board' playable %}">Join the {{ playable }} season!</a>
                <br><br>
            {% endif %}
        {% endif %}
        {% if player_status %}
            {% if not player_status.is_paid %}
                <div class="messages">
                    <strong>Unpaid - Venmo $30 to {{ venmo }}</strong>
                </div>
                <br>
            {% endif %}
            {% if next_week and next_pick%}
                Week {{ next_week|stringformat:"02d" }} Pick: <a href="{% url 'pick' season.year next_week %}">{{ next_pick }}</a><br><br>
            {% endif %}
            <table>
                <tr>
                    <th>{{ season }}</th>
                    <th>Record</th>
                    {% if board %}
                        {% for week in weeks %}
                            <th>{{ week|stringformat:"02d" }}</th>
                        {% endfor %}
                    {% endif %}
                </tr>
                {% for ps, picks in board %}
                    {% if ps.player == player %}
                        {% if player.is_dark_mode %}
                            <tr style="border: 3px solid white;">
                        {% else %}
                            <tr style="border: 3px solid black;">
                        {% endif %}
                    {% else %}
                        <tr>
                    {% endif %}
                        <td style="text-align: left">{{ ps.player.username }}</td>
                        <td>{{ ps.win_count }}-{{ ps.loss_count }}</td>
                        {% for pick in picks %}
                            <td
                                {% if pick.result == "R" %}
                                    class="none"
                                {% elif pick.result == "W" %}
                                    class="win"
                                {% elif pick.result == "L" %}
                                    class="loss"
                                {% endif %}
                            >
                            {% if pick.team %}
                                {{ pick.team.team_code }}
                            {% else %}
                                 {% if pick.result == "L" %}
                                     🤬
                                 {% else %}
                                     🌴
                                 {% endif %}
                            {% endif %}
                            </td>
                        {% endfor %}
                        </tr>
                {% endfor %}
            </table>
        {% endif %}
    {% endblock %}