{% extends "./base.html" %}
    {% block content %}
        This website is used to run a private NFL Survivor Pool for family and friends.
        It's not intended for the public.

        {% if locked %}
            <br>
            Sign ups are currently locked. Please check back later.
        {% else %}
            <br>
            Don't have an account?
            Enter your Username, Email, and League code below to sign up.
        {% endif %}
        <br><br>
        {% if not locked %}
            <form action="{% url 'home' %}" method="POST">
                {% csrf_token %}
                <label for="{{ form.username.id_for_label }}">Username:</label>
                <br>
                {{ form.username }}
                <br><br>
                <label for="{{ form.email.id_for_label }}">Email (not displayed):</label>
                <br>
                {{ form.email }}
                <br><br>
                <label for="{{ form.league.id_for_label }}">League:</label>
                <br>
                {{ form.league }}
                <br><br>
                <input class="blue-button" type="submit" value="Create Player" />
            </form>
        {% endif %}
        <br><br><br>
        <div>
            <a href="{% url 'forgot' %}">Forgot your link?</a>
        </div>
    {% endblock %}
