{% extends "./base.html" %}
{% block content %}
    <br>
    <span class="space">
        <a href="{% url 'paid' season.year %}">Paid</a>
    </span>
    <br><br>
    <span class="space">
        <a href="{% url 'results' season.year %}">Results</a>
    </span>
    <br><br>
    <span class="space">
        <a href="{% url 'player_links' season.year %}">Player Links</a>
    </span>
    <br><br>
    <span class="space">
        <a href="{% url 'update_board_cache' season.year %}">Update Board Cache</a>
    </span>
    <br><br>
    <span class="space">
        <a href="{% url 'send_message' season.year %}">Send Message</a>
    </span>
    <br><br>
    <br><br>
    <br><br>
    <span class="space">
        <a href="{% url 'remind' season.year %}">Remind</a>
    </span>
{% endblock %}
