{% extends "./base.html" %}
{% block content %}
    <div class="vertical-links">
        <ul>
            <li><a href="{% url 'paid' season.year %}">Paid</a></li>
            <li><a href="{% url 'results' season.year %}">Results</a></li>
            <li><a href="{% url 'players' season.year %}">Player Links</a></li>
            <li><a href="{% url 'send_message' season.year %}">Send Message</a></li>
            <li><a href="{% url 'send_message_all' season.year %}">Send Message All</a></li>
            <li><a href="{% url 'remind' season.year %}">Remind</a></li>
        </ul>
    </div>
{% endblock %}
