{% extends "./base.html" %}
{% block content %}
    <h3>Reminders</h3>
    Everyone gets email reminders by default.<br>
    Email Dan ({{ contact }}) if you want to turn them off.
    <br><br>
    What about Push Reminders?
    <br><br>
    They are new for the 2023 season (replacing SMS).<br>
    For push - we use the ntfy.sh service.<br><br>
    You will need to:<br>
    - Download the ntfy app<br>
    - Click the +<br>
    - Paste the topic code we provide<br><br>
    {% if player.has_push_reminders %}
        Status: ON<br>
        Topic: {{player.ntfy_topic}}<br>
        <br><br>
        <a class="blue-button" href={% url 'change_reminders' %}>Turn them OFF</a>
    {% else %}
        Status: OFF<br>
        Topic: N/A<br>
        <br><br>
        <a class="blue-button" href={% url 'change_reminders' %}>Turn them ON</a>
    {% endif %}
{% endblock %}