{% extends "./base.html" %}
    {% block content %}
        <h3>Rules</h3>
        <strong>Buy In</strong>:<br>
        $30 for the season.<br><br>
        <strong>Each Week</strong>:<br>
        Pick one team to win.
        Ties are losses.
        No contests are wins.<br>
        Submit your pick by the deadlines.<br>
        Your pick will lock at the deadline.<br>
        The week locks on Sun at 1PM Eastern.<br>
        Thu, Sat, EU games lock earlier.<br>
        Each team can only be used once.<br>
        <br>

        <strong>Payouts:</strong><br>
        Payouts are dependent on participation!<br>
        Survivor: at least 7x the buy in.<br>
        Best Record: 2-4x the buy in.<br>
        2nd Best Record: 1-2x the buy in.<br>
        Lottery: Free play next season.<br><br>
        To be eligible for the lottery:<br>
        - don't be Dan<br>
        - pick every week<br>
        - amount won < buy in<br><br>
        Players will split the corresponding payouts for ties in each category.<br>
        <br>
        Having issues?<br>
        Email your pick to {{ contact }}
        <br><br>
        <div id="confirm">
            {% block confirm %}{% endblock %}
        </div>
    {% endblock %}