<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <title>FB Survivor</title>
        <link rel="stylesheet" href="{% static "css/main.css" %}" type="text/css">
        <meta name="viewport" content="initial-scale=1.0">
        <meta name="robots" content="noindex,nofollow" />

        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
    </head>
    <body>
        <div class="main">
            <span class="title">
                Survivor {% if season %}{{ season.year }}{% endif %}
                <br><br>
                {% if player %}
                    <span class="space">
                        <a href="{% url 'player_redirect' player.link %}">Boards</a>
                    </span>
                    <span class="space">
                        <a href="{% url 'picks_redirect' player.link %}">Picks</a>
                    </span>
                    <span class="space">
                        <a href="{% url 'payouts' player.link %}">Payouts</a>
                    </span>
                    <span class="space">
                        <a href="{% url 'manager_redirect' player.link %}">Manage</a>
                    </span>
                {% endif %}
            </span>
            <br><br>
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                            {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
                                <div class="info">
                            {% else %}
                                <div>
                            {% endif %}
                                {{ message }}
                            </div>
                        </li>
                    {% endfor %}
                </ul>
                <br>
            {% endif %}
            <div id="content">
                {% block content %}{% endblock %}
            </div>
        </div>
    </body>
</html>

