{% extends "./base.html" %}
    {% block content %}
        <span class="space">
            <a href="{% url 'manager' player.link season.year %}">Back</a>
        </span>
        <br><br>
        <strong>{{ season.year }}</strong>
        <br><br>
        {% for player_status in player_statuses %}
            {% if player_status.is_paid %}
                {{ player_status.player.username }}
            {% else %}
                <a href="{% url 'user_paid' player.link season.year player_status.player.link %}">{{ player_status.player.username }}</a>
            {% endif %}
            <br><br>
        {% endfor %}
    {% endblock %}