{% extends "./base.html" %}
{% block content %}
    <strong>All Time Payouts 2011 - current</strong>
    <br><br>
    <table>
        <tr>
            <th>Player</th>
            <th>$$</th>
            <th>Notes</th>
        </tr>
        {% for payout in payouts %}
            <tr>
                <td>{{ payout.player__username }}</td>
                <td style="text-align: right;">{{ payout.total|floatformat:"0" }}</td>
                {% if payout.player__notes %}
                    <td>{{ payout.player__notes }}</td>
                {% else %}
                    <td></td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
{%  endblock %}