{% extends "./base.html" %}
{% block content %}
    {{ season.year }}
    <br>
    {% if picks %}
        Status: {% if player_status.is_retired %}Retired{% else %}Playing{% endif %}
        <br>
        Record: {{ player_status.win_count }} - {{ player_status.loss_count }}
        <br><br>
        <table>
            <tr>
                <th>Wk</th>
                <th>W/L</th>
                <th>Status</th>
                <th>Deadline</th>
            </tr>
        {% for pick in picks %}
            <tr>
                <td>{{ pick.week.week_num|stringformat:"02d" }}</td>
                <td
                    {% if pick.result == "W" %}
                        class="win"
                    {% elif pick.result == "L" %}
                        class="loss"
                    {% endif %}
                >{% if pick.team.team_code %}{{ pick.team.team_code }}{% endif %}</td>

                <td>
                    {% if pick.week.is_locked %}
                        locked
                    {% else %}
                        <a href="{% url 'pick' player.link season.year pick.week.week_num %}">
                            edit
                        </a>
                    {% endif %}
                </td>
                <td>{{ pick.week.lock_datetime|date:"m-d-Y h:i A T" }}</td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        No pick data available for {{ season.year }}!
    {% endif %}
    <br><br>
    {% if can_retire %}
        <a href="{% url 'retire' player.link season.year %}">Retire</a>
    {% endif %}
{% endblock %}