{% extends "./base.html" %}
{% block content %}
    <a href="{% url 'picks' player.link season.year %}">Back</a>
    <br><br>
    <strong>{{ season.year }} - Week {{ pick.week.week_num|stringformat:"02d" }}</strong>
    <br><br>
    Current Pick: {% if pick.team.team_code %}{{ pick.team.team_code }}{% endif %}
    <br>
    <form action="{% url 'pick' player.link season.year pick.week.week_num %}" method="POST">
        {% csrf_token %}
        Choose Pick:
        {{ form.team }}
        <br><br>
        <input type="submit" value="Submit" />
    </form>
{% endblock %}