{% extends "./base.html" %}
    {% block content %}
        {% if can_play %}
            <strong>{{ player_count }}</strong> players have joined! Will you?<br><br>
            <span class="space">
                <a href="{% url 'play' player.link season.year %}">Play</a>
            <br><br><br><br>
            </span>
        {% endif %}
        {% if player_status %}
{#            {% if survivor %}#}
{#                <div class="info">{{ survivor }} is the Survivor!</div>#}
{#                <br>#}
{#            {% endif %}#}
            <strong>
                {% if early %}Early: {{ early|date:'D m/d P' }} <br> {% endif %}
                {% if weekly %}Weekly: {{ weekly|date:'D m/d P' }}{% endif %}
            </strong>
            <br><br>
            <table>
                <tr>
                    <th>Username</th>
                    <th>$</th>
                    <th>Ws</th>
                    <th>Ls</th>
                    <th style="border-right: 10px solid #f9f9f9;">Pick</th>
                    {% if board %}
                    {% for week in weeks %}
                        <th>{{ week|stringformat:"02d" }}</th>
                    {% endfor %}
                    {% endif %}
                </tr>
                {% for ps, picks in board %}
                    {% if ps.player == player %}
                        <tr style="font-weight:bold; border: 3px solid blue;">
                    {% else %}
                        <tr>
                    {% endif %}
                        <td>
                            {{ ps.player.username }}
                        </td>
                        <td>
                            {% if ps.is_paid %}
                                $
                            {% endif %}
                        </td>
                        <td>{{ ps.win_count }}</td>
                        <td>{{ ps.loss_count }}</td>

                            <td style="border-right: 10px solid #f9f9f9;"
                                {% with picks|last as current %}
                                    {% if current.result == "R" %}
                                        class="black"
                                    {% elif current.result == "W" %}
                                        class="win"
                                    {% elif current.result == "L" %}
                                        class="loss"
                                    {% endif %}
                                    >
                                    {% if current.team %}{{ current.team.team_code }}{% endif %}
                                {% endwith %}
                            </td>
                        {% for pick in picks %}
                            <td
                                {% if pick.result == "R" %}
                                    class="black"
                                {% elif pick.result == "W" %}
                                    class="win"
                                {% elif pick.result == "L" %}
                                    class="loss"
                                {% endif %}
                            >
                            {% if pick.team %}{{ pick.team.team_code }}{% endif %}
                            </td>
                        {% endfor %}
                        </tr>
                {% endfor %}
            </table>
            <br>
        {% endif %}
        {% for year in years %}
            <span class="space">
                <a href="{% url 'player' player.link year %}">{{ year }}</a>
            </span>
            {% if forloop.counter|divisibleby:4  %}
                <br><br>
            {% endif %}
        {% endfor %}
    {% endblock %}