{% extends "./base.html" %}
    {% block content %}
        {% if player_status %}
            <span class="space">
                <a href="{% url 'picks' player.link season.year %}">Picks</a>
            </span>
            <span class="space">
                <a href="{% url 'other' player.link season.year %}">Other</a>
            </span>
            {% if player.is_admin %}
                <span class="space">
                    <a href="{% url 'manager' player.link season.year %}">Manager</a>
            {% endif %}
                </span>
        {% endif %}
        {% if can_play %}
            <br><br>
            <strong>{{ player_count }}</strong> players have joined! Will you?<br><br>
            <span class="space">
                <a href="{% url 'play' player.link season.year %}">Play</a>
            <br><br><br><br>
            </span>
        {% endif %}
        {% if player_status %}
            <br><br>
            {% if username %}
                <div class="info">{{ username }} is {{ season.year }} Survivor!</div>
            {% endif %}
            <table>
                <tr>
                    <th>Username</th>
                    <th>Ws</th>
                    <th>Ls</th>
                    <th style="border-right: 10px solid #f9f9f9;">Current</th>
                    {% if board %}
                    {% for week in weeks %}
                        <th>{{ week|stringformat:"02d" }}</th>
                    {% endfor %}
                    {% endif %}
                </tr>
                {% for ps, picks in board %}
                    {% if ps.player == player %}
                        <tr style="font-weight:bold; border: 3px solid black;">
                    {% else %}
                        <tr>
                    {% endif %}
                        <td {% if ps.is_paid %} class="paid" {% endif %}>
                            {{ ps.player.username }}
                        </td>
                        <td>{{ ps.win_count }}</td>
                        <td>{{ ps.loss_count }}</td>

                            <td style="border-right: 10px solid #f9f9f9;"
                                {% with picks|last as current %}
                                    {% if current.result == "R" %}
                                        class="black"
                                    {% elif current.result == "W" %}
                                        class="win"
                                    {% elif current.result == "L" %}
                                        class="loss"
                                    {% endif %}
                                    >
                                    {% if current.team %}{{ current.team }}{% endif %}
                                {% endwith %}
                            </td>
                        {% for pick in picks %}
                            <td
                                {% if pick.result == "R" %}
                                    class="black"
                                {% elif pick.result == "W" %}
                                    class="win"
                                {% elif pick.result == "L" %}
                                    class="loss"
                                {% endif %}
                            >
                            {% if pick.team %}{{ pick.team }}{% endif %}
                            </td>
                        {% endfor %}
                        </tr>
                {% endfor %}
            </table><br><br>
        {% endif %}
        {% if can_retire %}
            <a href="{% url 'retire' player.link season.year %}">Retire</a>
        {% endif %}<br><br>
    {% endblock %}