{% extends "./base.html" %}
    {% block content %}
        <h3>Rules</h3>
        <strong>Each Week</strong>:<br>
        Pick one team to win. Ties are losses.<br>
        Submit your pick by the deadlines shown.<br>
        Picks will lock at the deadlines shown.<br>
        Note the earlier deadline for Thursday games.<br>
        Each team can only be used once.<br>
        <br>

        <strong>Payouts:</strong><br>
        Payouts are dependent on participation!<br>
        Survivor: at least 7x the buy in.<br>
        Best Record: 2-4x the buy in.<br>
        2nd Best Record: 1-2x the buy in.<br>
        Players will split the corresponding payouts for ties.<br>
        <br>
        Having issues? Email your pick to picks@fbsurvivor.com.
        <br><br>
        <div id="confirm">
            {% block confirm %}{% endblock %}
        </div>
    {% endblock %}