{% extends "./base.html" %}
    {% block content %}
        <div class="rules">
            This website is used to run a private NFL Survivor Pool for family and friends.
            It's not intended for public consumption.
        </div><br>
        <form action="/" method="POST">
            {% csrf_token %}
            <label for="{{ form.username.id_for_label }}">Username:</label>
            <br>
            {{ form.username }}
            <br><br>
            <label for="{{ form.email.id_for_label }}">Email (not displayed):</label>
            <br>
            {{ form.email }}
            <br><br>
            <input type="submit" value="Create User" />
        </form>
        <br>
        <div>
            <a href="/forgot">Forgot your link?</a>
        </div>
    {% endblock %}