@import url(base.css);

:root {
    --background: rgb(2 6 23);
    --body-color: rgb(228 228 231);
    --link-color: #81d4fa;
    --message-color: red;
    --win-color: #80f16a;
    --loss-color: #ff2e2e;
    --red-button: red;
    --blue-button: #2a71f5;
}