@import url(base.css);

:root {
    --background: #2d2d2d;
    --body-color: white;
    --link-color: #81d4fa;
    --message-color: red;
    --win-color: #68c659;
    --loss-color: #890101;
    --red-button: red;
    --blue-button: #2a71f5;
}