@import url(base.css);

:root {
    --background: #f9f9f9;
    --body-color: black;
    --link-color: #12477e;
    --message-color: red;
    --win-color: #68c659;
    --loss-color: #890101;
    --red-button: red;
    --blue-button: #2a71f5;
}